#header{
    width:100%;
    height: 200px;
}
body{
    background: #000;
    color:#fff;
    margin: 0;
    padding: 0;
    height: 300px;
}

#main > div{
    background: #000;
    position: relative;
    z-index: 2;
    width:47.5%;
    float: left;
    margin-left: 10px;
    border: 2px dashed #fff;
}

#game{
    width:50%;
    margin: auto;
    margin-top: -70px;
}

#sub-main{
    color:#fff;
    height: 496px;
}

#res{
    width:50%;
    height: 500px;
    
    box-sizing: border-box;
}

.result{
    margin-top:20px;
    display: inline-block;
    width: 100%;
    text-align: center;
}

#img-res{
    width:55%;
    height:190px;
    
    background-size:contain;
    position: relative;
    top: 30px;
    left:22%;
}

h2{
    text-align: center;
    font-size: 1.7em;
    width:95%;
    margin:20px auto;
    padding:10px 2px;
    border-radius: 30px;
    background: rgb(255, 0, 0);
    color:#fff;
}



h3{
    font-size: 1.5em;
    text-align: center;
}

.under{
    text-decoration: underline;
}

.top{
    position: relative;
    top:-50px;
}

#w,#l{
    position: relative;
    top:100px;
}

#restart{
    width:50%;
    position: relative;
    left:25%;
    top:730px;
    
    display: inline-block;
    color:#000;
    background: rgb(155, 5, 5);
}

#restart:hover{
    cursor: pointer;
    background: rgb(255, 33, 33);
    color:#fff;
}

#restart:active{
    background: rgb(255, 85, 85)
}

#keyboard{
    display:none;
}

@media screen and (max-width:414px){
    #header{
        width:100%;
        height: 200px;
       
        
    } 
    #game{
        width:100%;
        margin-left:0%;
        margin-top: -70px;
        
    }
    
    #sub-main,#res{
        width:40%;
        height: 500px;
        margin-top:60px;
        box-sizing: border-box;
        clear: both;
       
        
    }

    #main{
        margin-right:1%;
        width:95%;
    }
    
    #sub-main{
        position: relative;
        left:50%;
        bottom:560px;
        
    }


    #restart{
        position: relative;
        top:200px;
        margin-left:-25%; 
        width: 100%;
        bottom:100px; 
    }

    #img-res{
        
        margin-left:-10%;
        width:75%;
        height:130px;
        
    }

    #keyboard{
        display:inline-block;
        margin-left:2%;
        bottom:560px;
        position: relative;
        width: 85%;
        margin-left:10%;
        
    }

    #keyboard > h3{
        background: rgb(155, 5, 5);
        width:5%;
        padding:3%;
        display:inline-block;
        color: #000;
    }

    #keyboard > h3:last-child{
        width:50%;
    }

    #keyboard > h3:active{
        cursor: pointer;
        background: rgb(255, 33, 33);
        color:#fff;
    }

    #l,#w{
        position: relative;
        top:15px;
    }

    .under{
        font-size: 0.9em;
    }

    #hidden{
        font-size: 0.7em;
    }


}

@media screen and (min-width:415px) and (max-width:1024px){
    #header{
        width:100%;
        height: 200px;
        margin-bottom:10px; 
        
    } 
    #game{
        width:100%;
        margin-left:0%;
        margin-top: -70px;
        
    }
    
    #sub-main,#res{
        width:40%;
        height: 500px;
        margin-top:60px;
        box-sizing: border-box;
        clear: both;
       
        
    }

    #main{
        margin-left:2%; 
        width:95%;
    }
    
    #sub-main{
        position: relative;
        left:50%;
        bottom:560px;
        
    }


    #restart{
        position: relative;
        top:200px;
        margin-left:-23%; 
        width: 95%;
        bottom:100px; 
        display: inline-block;
    }

    #img-res{
        
        margin-left:3%;
        width:50%;
        height:200px;
        
    }

    #keyboard{
        display:inline-block;
        right:7%;
        bottom:500px;
        position: relative;
        width: 95%;
        margin-left:10%;
        
    }

    #keyboard > h3{
        background: rgb(155, 5, 5);
        width:5%;
        padding:3%;
        margin:1%;
        display:inline-block;
        color: #000;
    }

    #keyboard > h3:last-child{
        width:86%;
    }

    #keyboard > h3:active{
        cursor: pointer;
        background: rgb(255, 33, 33);
        color:#fff;
    }

    #l,#w{
        position: relative;
        top:15px;
    }

    #hidden{
        font-size: 1.1em;
    }

  
}